body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:660px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
}
#u823 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u825 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u827 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u829 {
  position:absolute;
  left:1px;
  top:55px;
  width:373px;
  height:75px;
  text-align:left;
}
#u830 {
  position:absolute;
  left:20px;
  top:30px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u831 {
  position:absolute;
  left:25px;
  top:102px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  position:absolute;
  left:25px;
  top:65px;
  width:325px;
  height:32px;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u835 {
  position:absolute;
  left:1px;
  top:130px;
  width:373px;
  height:65px;
  text-align:left;
}
#u836 {
  position:absolute;
  left:20px;
  top:24px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u837 {
  position:absolute;
  left:25px;
  top:164px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839 {
  position:absolute;
  left:25px;
  top:140px;
  width:325px;
  height:16px;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u841 {
  position:absolute;
  left:1px;
  top:195px;
  width:373px;
  height:65px;
  text-align:left;
}
#u842 {
  position:absolute;
  left:20px;
  top:24px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u843 {
  position:absolute;
  left:25px;
  top:229px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  position:absolute;
  left:25px;
  top:205px;
  width:325px;
  height:16px;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u847 {
  position:absolute;
  left:1px;
  top:260px;
  width:373px;
  height:75px;
  text-align:left;
}
#u848 {
  position:absolute;
  left:20px;
  top:30px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u849 {
  position:absolute;
  left:25px;
  top:307px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  position:absolute;
  left:25px;
  top:270px;
  width:325px;
  height:32px;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u853 {
  position:absolute;
  left:460px;
  top:86px;
  width:200px;
  height:70px;
}
#u854 {
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
