body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3640 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u3640_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3640_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u3642 {
  position:absolute;
  left:48px;
  top:212px;
  width:280px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u3643 {
  position:absolute;
  left:20px;
  top:17px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3644 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3645 {
  position:absolute;
  left:99px;
  top:213px;
  width:229px;
  height:48px;
}
#u3645_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:48px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3646 {
  position:absolute;
  left:241px;
  top:227px;
  width:20px;
  height:20px;
  opacity:0.8;
}
#u3647 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#1ABC9C;
  line-height:24px;
}
#u3648 {
  position:absolute;
  left:20px;
  top:55px;
  width:335px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#1ABC9C;
  line-height:24px;
}
#u3649 {
  position:absolute;
  left:0px;
  top:28px;
  width:335px;
  word-wrap:break-word;
}
#u3650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u3650 {
  position:absolute;
  left:48px;
  top:163px;
  width:280px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u3651 {
  position:absolute;
  left:20px;
  top:17px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
  line-height:20px;
}
#u3652 {
  position:absolute;
  left:20px;
  top:376px;
  width:335px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
  line-height:20px;
}
#u3653 {
  position:absolute;
  left:0px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u3654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:right;
  line-height:20px;
}
#u3654 {
  position:absolute;
  left:48px;
  top:261px;
  width:287px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:right;
  line-height:20px;
}
#u3655 {
  position:absolute;
  left:0px;
  top:15px;
  width:287px;
  word-wrap:break-word;
}
#u3656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u3656 {
  position:absolute;
  left:20px;
  top:426px;
  width:335px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u3657 {
  position:absolute;
  left:0px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u3658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:2px;
}
#u3658 {
  position:absolute;
  left:48px;
  top:451px;
  width:113px;
  height:1px;
}
#u3659 {
  position:absolute;
  left:2px;
  top:-8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:2px;
}
#u3660 {
  position:absolute;
  left:214px;
  top:451px;
  width:114px;
  height:1px;
}
#u3661 {
  position:absolute;
  left:2px;
  top:-8px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3662 {
  position:absolute;
  left:47px;
  top:486px;
  width:280px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3662_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3662.mouseDown {
}
#u3663 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u3664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3664 {
  position:absolute;
  left:47px;
  top:536px;
  width:280px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3664_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3664.mouseDown {
}
#u3665 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u3666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u3666 {
  position:absolute;
  left:61px;
  top:496px;
  width:26px;
  height:22px;
}
#u3667 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3668 {
  position:absolute;
  left:61px;
  top:540px;
  width:26px;
  height:26px;
}
#u3669 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3670 {
  position:absolute;
  left:60px;
  top:227px;
  width:20px;
  height:20px;
  opacity:0.3;
}
#u3671 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3672 {
  position:absolute;
  left:59px;
  top:178px;
  width:20px;
  height:20px;
  opacity:0.3;
}
#u3673 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3674 {
  position:absolute;
  left:325px;
  top:9px;
  width:30px;
  height:30px;
}
#u3675 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:168px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3676 {
  position:absolute;
  left:48px;
  top:321px;
  width:280px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3676_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:168px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3676.mouseDown {
}
#u3677 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u3678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3678 {
  position:absolute;
  left:141px;
  top:334px;
  width:20px;
  height:20px;
}
#u3679 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3680 {
  position:absolute;
  left:268px;
  top:226px;
}
#u3680_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3680_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3681 {
  position:absolute;
  left:0px;
  top:0px;
}
#u3681_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3681_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u3682 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u3682_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u3682.selected {
}
#u3683 {
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u3681_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3681_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3684 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3685 {
  position:absolute;
  left:10px;
  top:5px;
  width:48px;
  word-wrap:break-word;
}
#u3686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3686 {
  position:absolute;
  left:3px;
  top:2px;
  width:20px;
  height:20px;
}
#u3687 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3689 {
  position:absolute;
  left:99px;
  top:164px;
  width:229px;
  height:48px;
}
#u3689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:48px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3690 {
  position:absolute;
  left:299px;
  top:178px;
  width:20px;
  height:20px;
  opacity:0.8;
}
#u3691 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3692 {
  position:fixed;
  left:50%;
  margin-left:-100px;
  top:50%;
  margin-top:-25.5px;
  visibility:hidden;
}
#u3692_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3692_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3693_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:210px;
  height:61px;
}
#u3693 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u3694 {
  position:absolute;
  left:15px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u3692_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3692_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3695_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:228px;
  height:61px;
}
#u3695 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u3696 {
  position:absolute;
  left:15px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u3692_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3692_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3697_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:197px;
  height:61px;
}
#u3697 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u3698 {
  position:absolute;
  left:15px;
  top:16px;
  width:157px;
  word-wrap:break-word;
}
#u3692_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3692_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3700_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:150px;
  height:110px;
}
#u3700 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u3701 {
  position:absolute;
  left:30px;
  top:42px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u3702 {
  position:absolute;
  left:0px;
  top:53px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u3703 {
  position:absolute;
  left:15px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u3704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3704 {
  position:absolute;
  left:45px;
  top:11px;
  width:50px;
  height:50px;
}
#u3705 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3706 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u3707 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u3708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3708 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3709 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
