body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3390 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u3391 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u3392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3392 {
  position:absolute;
  left:88px;
  top:315px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3392_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3392.mouseDown {
}
#u3393 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u3394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u3394 {
  position:absolute;
  left:135px;
  top:128px;
  width:105px;
  height:105px;
  opacity:0.3;
}
#u3395 {
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#999999;
  line-height:36px;
}
#u3396 {
  position:absolute;
  left:0px;
  top:235px;
  width:375px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#999999;
  line-height:36px;
}
#u3397 {
  position:absolute;
  left:0px;
  top:17px;
  width:375px;
  word-wrap:break-word;
}
#u3398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
}
#u3398 {
  position:absolute;
  left:0px;
  top:602px;
  width:375px;
  height:70px;
}
#u3399 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u3400 {
  position:absolute;
  left:161px;
  top:612px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u3401 {
  position:absolute;
  left:0px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u3402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:22px;
}
#u3402 {
  position:absolute;
  left:0px;
  top:612px;
  width:75px;
  height:60px;
  color:#CCCCCC;
  line-height:22px;
}
#u3402_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:22px;
}
#u3402.selected {
}
#u3403 {
  position:absolute;
  left:0px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u3404 {
  position:absolute;
  left:75px;
  top:612px;
  width:75px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u3404_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u3404.selected {
}
#u3405 {
  position:absolute;
  left:0px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u3406 {
  position:absolute;
  left:225px;
  top:612px;
  width:75px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u3406_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u3406.selected {
}
#u3407 {
  position:absolute;
  left:0px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u3408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 89, 24, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3408 {
  position:absolute;
  left:45px;
  top:612px;
  width:30px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3409 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u3410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u3410 {
  position:absolute;
  left:300px;
  top:612px;
  width:75px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u3410_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  line-height:22px;
}
#u3410.selected {
}
#u3411 {
  position:absolute;
  left:0px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
