body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1221 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1223 {
  position:absolute;
  left:1px;
  top:148px;
  width:373px;
  height:292px;
  text-align:left;
}
#u1224 {
  position:absolute;
  left:20px;
  top:138px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1225 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u1226 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1228 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1229 {
  position:absolute;
  left:1px;
  top:55px;
  width:373px;
  height:85px;
  text-align:left;
}
#u1230 {
  position:absolute;
  left:20px;
  top:34px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1231 {
  position:absolute;
  left:20px;
  top:65px;
  width:330px;
  height:32px;
  font-size:14px;
}
#u1232 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1233 {
  position:absolute;
  left:20px;
  top:112px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1ABC9C;
}
#u1235 {
  position:absolute;
  left:136px;
  top:112px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#1ABC9C;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237 {
  position:absolute;
  left:20px;
  top:164px;
  width:141px;
  height:16px;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u1240 {
  position:absolute;
  left:20px;
  top:214px;
  width:334px;
  height:10px;
  color:#666666;
  text-align:right;
}
#u1241 {
  position:absolute;
  left:2px;
  top:-3px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:10px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1242 {
  position:absolute;
  left:20px;
  top:214px;
  width:205px;
  height:10px;
}
#u1243 {
  position:absolute;
  left:20px;
  top:-3px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1244 {
  position:absolute;
  left:20px;
  top:190px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1246 {
  position:absolute;
  left:327px;
  top:190px;
  width:27px;
  height:15px;
  font-size:12px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u1249 {
  position:absolute;
  left:20px;
  top:272px;
  width:334px;
  height:10px;
  color:#666666;
  text-align:right;
}
#u1250 {
  position:absolute;
  left:2px;
  top:-3px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1251 {
  position:absolute;
  left:20px;
  top:272px;
  width:154px;
  height:10px;
}
#u1252 {
  position:absolute;
  left:20px;
  top:-3px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1253 {
  position:absolute;
  left:20px;
  top:248px;
  width:301px;
  height:15px;
  font-size:12px;
}
#u1254 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1255 {
  position:absolute;
  left:337px;
  top:248px;
  width:20px;
  height:15px;
  font-size:12px;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1258 {
  position:absolute;
  left:22px;
  top:307px;
  width:145px;
  height:15px;
  font-size:12px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1260 {
  position:absolute;
  left:339px;
  top:307px;
  width:20px;
  height:15px;
  font-size:12px;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u1262 {
  position:absolute;
  left:23px;
  top:331px;
  width:334px;
  height:10px;
  color:#666666;
  text-align:right;
}
#u1263 {
  position:absolute;
  left:2px;
  top:-3px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.698039215686274);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u1265 {
  position:absolute;
  left:22px;
  top:405px;
  width:334px;
  height:10px;
  color:#666666;
  text-align:right;
}
#u1266 {
  position:absolute;
  left:2px;
  top:-3px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 0, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1267 {
  position:absolute;
  left:22px;
  top:405px;
  width:130px;
  height:10px;
}
#u1268 {
  position:absolute;
  left:20px;
  top:-3px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1269 {
  position:absolute;
  left:23px;
  top:365px;
  width:301px;
  height:30px;
  font-size:12px;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1271 {
  position:absolute;
  left:339px;
  top:365px;
  width:20px;
  height:15px;
  font-size:12px;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
