body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:650px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2435 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
}
#u2436 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
}
#u2437 {
  position:absolute;
  left:1px;
  top:55px;
  width:373px;
  height:40px;
}
#u2438 {
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2439 {
  position:absolute;
  left:16px;
  top:67px;
  width:99px;
  height:16px;
  color:#666666;
}
#u2440 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2441 {
  position:absolute;
  left:322px;
  top:60px;
  width:30px;
  height:30px;
}
#u2442 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:40px;
}
#u2443 {
  position:absolute;
  left:1px;
  top:94px;
  width:373px;
  height:40px;
}
#u2444 {
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2445 {
  position:absolute;
  left:16px;
  top:106px;
  width:99px;
  height:16px;
  color:#666666;
}
#u2446 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2447 {
  position:absolute;
  left:322px;
  top:99px;
  width:30px;
  height:30px;
}
#u2448 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
}
#u2449 {
  position:absolute;
  left:1px;
  top:144px;
  width:187px;
  height:40px;
}
#u2449_img.selected {
}
#u2449.selected {
}
#u2450 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u2451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
}
#u2451 {
  position:absolute;
  left:187px;
  top:144px;
  width:187px;
  height:40px;
}
#u2451_img.selected {
}
#u2451.selected {
}
#u2452 {
  position:absolute;
  left:2px;
  top:12px;
  width:183px;
  word-wrap:break-word;
}
#u2453 {
  position:absolute;
  left:1px;
  top:187px;
  width:373px;
  height:366px;
  overflow:hidden;
}
#u2453_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:366px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2453_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
}
.u2455 {
  position:absolute;
  left:0px;
  top:6px;
  width:373px;
  height:77px;
}
.u2456 {
  position:absolute;
  left:2px;
  top:30px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2457 {
  position:absolute;
  left:17px;
  top:24px;
  width:29px;
  height:16px;
}
.u2458 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u2459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u2459 {
  position:absolute;
  left:259px;
  top:17px;
  width:83px;
  height:30px;
  font-size:12px;
  color:#999999;
}
.u2459_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(29, 158, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u2459.selected {
}
.u2460 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
.u2461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u2461 {
  position:absolute;
  left:17px;
  top:61px;
  width:92px;
  height:15px;
  font-size:12px;
}
.u2462 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
.u2463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u2463 {
  position:absolute;
  left:251px;
  top:61px;
  width:92px;
  height:15px;
  font-size:12px;
}
.u2464 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2454-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:83px;
}
#u2454-2 {
  position:absolute;
  left:0px;
  top:83px;
  width:373px;
  height:83px;
}
#u2454-3 {
  position:absolute;
  left:0px;
  top:166px;
  width:373px;
  height:83px;
}
#u2454 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2453_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:366px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2453_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:103px;
}
#u2465 {
  position:absolute;
  left:100px;
  top:70px;
  width:158px;
  height:103px;
}
#u2466 {
  position:absolute;
  left:2px;
  top:44px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2465_ann {
  position:absolute;
  left:251px;
  top:66px;
  width:1px;
  height:1px;
}
#u2467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u2467 {
  position:absolute;
  left:115px;
  top:201px;
  width:129px;
  height:38px;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u2468 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2469 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u2470 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u2471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2471 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2472 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u2473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u2473 {
  position:absolute;
  left:322px;
  top:13px;
  width:30px;
  height:30px;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u2474 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u2475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:295px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2475 {
  position:absolute;
  left:430px;
  top:55px;
  width:220px;
  height:295px;
}
#u2476 {
  position:absolute;
  left:10px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
