body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3246 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u3247 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u3248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3248 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3249 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u3250 {
  position:absolute;
  left:7px;
  top:60px;
  width:360px;
  height:74px;
}
#u3250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:74px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u3253 {
  position:absolute;
  left:0px;
  top:221px;
  width:375px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
#u3254 {
  position:absolute;
  left:20px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u3255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3255 {
  position:absolute;
  left:288px;
  top:231px;
  width:70px;
  height:30px;
}
#u3255_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3255.selected {
}
#u3256 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3257 {
  position:absolute;
  left:292px;
  top:235px;
  width:22px;
  height:22px;
}
#u3258 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3259 {
  position:absolute;
  left:0px;
  top:143px;
}
#u3259_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3259_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
  line-height:20px;
}
.u3261 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
  line-height:20px;
}
.u3262 {
  position:absolute;
  left:0px;
  top:25px;
  width:70px;
  word-wrap:break-word;
}
.u3263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u3263 {
  position:absolute;
  left:50px;
  top:0px;
  width:20px;
  height:20px;
  opacity:0.3;
}
.u3264 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3260-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3260 {
  position:absolute;
  left:1px;
  top:1px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u3265 {
  position:absolute;
  left:1px;
  top:1px;
  width:70px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u3265_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u3265.mouseDown {
}
#u3266 {
  position:absolute;
  left:2px;
  top:21px;
  width:66px;
  word-wrap:break-word;
}
#u3267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u3267 {
  position:absolute;
  left:308px;
  top:15px;
  width:50px;
  height:25px;
  color:#FFFFFF;
  text-align:center;
}
#u3268 {
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u3269 {
  position:fixed;
  left:50%;
  margin-left:-100px;
  top:50%;
  margin-top:-25.5px;
  visibility:hidden;
}
#u3269_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3269_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3270_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:210px;
  height:61px;
}
#u3270 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u3271 {
  position:absolute;
  left:15px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u3269_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3269_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3273_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:150px;
  height:110px;
}
#u3273 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u3274 {
  position:absolute;
  left:30px;
  top:42px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u3275 {
  position:absolute;
  left:0px;
  top:53px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u3276 {
  position:absolute;
  left:15px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u3277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3277 {
  position:absolute;
  left:45px;
  top:11px;
  width:50px;
  height:50px;
}
#u3278 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
