body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3036 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
}
#u3037 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3038 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u3039 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u3040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3040 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3041 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u3042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3042 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:170px;
}
#u3043 {
  position:absolute;
  left:2px;
  top:77px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3044 {
  position:absolute;
  left:168px;
  top:120px;
  width:40px;
  height:40px;
  font-size:14px;
  color:#00CC33;
}
#u3045 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u3046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3046 {
  position:absolute;
  left:1px;
  top:225px;
  width:373px;
  height:35px;
  text-align:left;
}
#u3047 {
  position:absolute;
  left:20px;
  top:10px;
  width:351px;
  word-wrap:break-word;
}
#u3048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3048 {
  position:absolute;
  left:0px;
  top:259px;
  width:375px;
  height:170px;
}
#u3049 {
  position:absolute;
  left:2px;
  top:77px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3050 {
  position:absolute;
  left:168px;
  top:324px;
  width:40px;
  height:40px;
  font-size:14px;
  color:#00CC33;
}
#u3051 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u3052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3052 {
  position:absolute;
  left:1px;
  top:429px;
  width:373px;
  height:35px;
  text-align:left;
}
#u3053 {
  position:absolute;
  left:20px;
  top:10px;
  width:351px;
  word-wrap:break-word;
}
